*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}


/* Scrolling effect */
html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
  }
/* -webkit- (Chrome, Safari, newer versions of Opera): */
*::-webkit-scrollbar { width: 0 !important }
/* -moz- (Firefox): */
html { overflow: -moz-scrollbars-none; }
/* -ms- (Internet Explorer +10): */
html { -ms-overflow-style: none; }
body{
    width: 100%;
    /* text-align: center; */
    /* height: 100%; */
    /* overflow: hidden; */
}

/*--------------------------------- UTILITY CLASSES ---------------------------------*/
/* Class for heading section on a page */
.head {
    /* position: fixed; */
    width: 44%;
    /* height: 697px; */
    background-color: black;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Class for text section on a page */
.text {
    width: 56%;
    /* height: 100vh; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 6.3vh 5.3vw; */
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    text-align: justify;
    /* overflow: auto; */
}

/* To write headings on heading sections */
h2{
    /* background-color:yellow; */
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 4.8em;
}

/* For heading of the page in middle  */
.heading{
    /* To position the title in center */
    display: flex;
    align-items: center;
    justify-content: center;

}

/* For Text headings and content */
.bold {
    font-weight: bolder;
}

.light {
    font-weight: normal;
}

/* ------------------------------- HOME --------------------------------------- */
/* Home page Left Box for content and logo */
#home{
    height: 115vh;
}

#left {
    display: block;
    /* border: solid 2px black; */
    max-width: 44%;
    /* height: 696px; */
    height: 115vh;
    /* height: 100%; */
    background-color: black;
    /* opacity: 1; */
    /* filter: brightness(120%); */
    /* box-shadow: 0 0 8px 8px white inset; */
    padding-left: 2vw;
}

/* Top most logo */
#toplogo {
    position: fixed;
    margin-top: 1.3rem;
    z-index: 10;
    /* margin-left: 1.3rem; */
}

/* image fading property */
.parallax {
    position: absolute;
    top: 0;
    right: 0;
    /* The image used */
    background-image: url('../Personal_Profile_Website/img/meb.jpg');
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    /* Set a specific height */
    /* min-height: 800px; */
    height: 115vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* blur the edges */
    /* box-shadow: 0 0 8px 8px white inset; */
    opacity: 0.8;
    /* filter: brightness(50%); */
  }

/* name svg */
#name{
    position: absolute;
    top: 32.6vh;
    /* animation: fill 3s ease forwards 5.5s; */
}

/* Title */
#title {
    position: absolute;
    top: 43vh;
}

/* Description */
.description {
    position: absolute;
    top: 75vh;
    font-size: 1.5rem;
    color: white;
    font-weight: light;
    font-family: 'Oswald', sans-serif;
    max-width: 40%;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(168, 160, 160); */
}

/* Main navigation Bar on the right side on Home Page */
.main-nav {
    position: absolute;
    bottom: 5vh;
    right: 2vw;
}

nav>ul{
    list-style: none;
}

nav .m-list-item, nav .list-item{
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    padding: 0.7rem 0.7rem;
}

nav .m-list-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Proxima Nova Regular,serif;
}

nav .m-list-item .active,nav .m-list-item a:active{
    text-decoration: underline;
    font-weight: bolder;
}

/* For Navigation bars of all pages except home page */
.sub-nav {
    /* background-color: red; */
    position: relative;
    top: 16.3rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;

}
nav .list-item a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-family: Proxima Nova Regular,serif;
}

nav .list-item .active,nav .list-item a:active{
    text-decoration: underline;
    font-weight: bolder;
}

/*--------------------------------- ABOUT PAGE --------------------------------------*/
#about{
    /* border: 4px black solid; */
    /* border-top: rgb(240, 204, 210) 1px solid; */
    /* height: 697px; */
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* margin: 3.3rem 2.3rem; */
}

.about-head{
    border: 4px black solid;
    /* border-top: 0.2px white solid; */
    /* flex: 1 0 auto; */
}

.about-text{
    border: 1px lightgrey;
    right: 0;
    background-color:rgb(240, 204, 210);
    padding: 6.3vh 7.3vw;
    /* position: fixed;
    left: 0;
    z-index: 10; */
    /* overflow-y: scroll; */
    /* flex: 1 1 auto; */
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
    overflow-y: auto;
}

/* To set the color of about heading */
.about-head h2 {
    color: rgb(240, 204, 210);
}

.grey {
    color: grey;
    font-size: 1.0em;
}

/* ------------------------------ WORK PAGE -------------------------------------- */
#work{
    border-top: white 1.5px solid;
    /* border-top: pink 1px solid; */
    /* height: 697px; */
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* margin: 3.3rem 2.3rem; */
}

.work-head{
    border: 4px black solid;
    /* border-top: 0.2px white solid; */
    
}

.work-text{
    /* border: 1px lightgrey; */
    right: 0;
    background-color:white;
    /* display: flex;
    flex-direction: row; */
    /* align-content: flex-start; */
    -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -o-transition: all 2s ease;
            -ms-transition: all 2s ease;
            transition: all 2s ease;
}

.grow-width {
    width: 1500px;

}

.shrink-height {
    height: 70vh;
    /* overflow: hidden; */
}

.image-slider {
    overflow-y: scroll;
}

.image-slider .workbox {
    min-height: 100vh;
    /* min-height: 60vh; */
    cursor: pointer;
    overflow: hidden;
    /* padding-bottom: 0; */
    transition: height 4s ease;
    -moz-transition: height 4s ease;
    -ms-transition: height 4s ease;
    -o-transition: height 4s ease;
    -webkit-transition: height 4s ease;
}

.workbox .image {
    max-height: 100vh;
    /* min-height: 60vh; */
    cursor: pointer;
    overflow: hidden;
    /* padding-bottom: 0; */
    transition: height 4s ease;
    -moz-transition: height 4s ease;
    -ms-transition: height 4s ease;
    -o-transition: height 4s ease;
    -webkit-transition: height 4s ease;
    /* -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease; */
    /* display: flex;
    flex-direction: column; */

}


/* Make the image responsive */
.image img {
    width: 100%;
    /* height: auto; */
    height: 100vh;
    transition: transform 90s, filter 20s ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);
    /* transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease; */

}

.image:hover img {
    filter: brightness(100%);
    transform: scale(2.3);
}

.image .workdata {
    /* border : 10px solid black; */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 80vh;
    flex-direction: column;
}

.workdata .btn {
    background-color: rgb(57, 59, 57);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.workdata .work-h {
    color: white;
    font-size: 4rem;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.image-slider .work-details {
    /* display: block; */
    /* border: 10px solid black; */
    padding: 3vh 3vw;
    /* height: 150vh; */
    background-color: rgb(207, 196, 196);
}

.invisible {
    display: none;
    /* visibility: hidden; */
}

.slided {
    display: block;
    height: auto;
    overflow: hidden;
    /* border: 10px solid black; */
}

.work-details .work-desp p {
    /* border: rgb(253, 199, 199) 10px solid; */
    font-size: 1em;
    background-color: rgb(44, 42, 42);
    color: beige;
    padding: 6vh 10vw;
}

.work-details h2 {
    font-size: 2.2em;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}
.work-tech{
    /* border: black 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#box1, #box2, #box3, #box4{
    width: 25%;
    /* border: black 2px solid; */
    background-color: grey;
    margin: 10px;
    text-align: center;
    /* padding: 1rem; */
}
.work-tech h4{
    background-color: black;
    color: white;
    padding: 0.5rem;
}

.work-ss .gallery{
    /* border: black 2px solid; */
    background-color: black;
    width: 100%;
    height: 47vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    overflow: scroll;
}
.work-ss .gallery .pic{
    background-color: #fff;
    margin: 12px;
    width: 30vw;
    height: 40vh;
}
.work-ss .gallery .pic img{
    width: 30vw;
    height: 40vh;
}

/* To set the color of work heading */
.work-head h2 {
    color: white;
}

/* ------------------------------ CONTACT PAGE -------------------------------------- */
#contact{
    border-top: rgb(184, 179, 179) 3px solid;
    /* border-top: pink 1px solid; */
    /* height: 697px; */
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* margin: 3.3rem 2.3rem; */
}

.contact-head{
    border: 4px black solid;
    /* border-top: 0.2px white solid; */
    
}

.contact-text{
    /* border: 1px lightgrey; */
    right: 0;
    background-color:rgb(184, 179, 179);
    text-align: center;
    padding: 6.3vh 7.3vw;
}

.contact-info{
    text-align: justify;
    margin-left: 4vw;
}

/* To set the color of work heading */
.contact-head h2 {
    color: rgb(184, 179, 179);
}

/* ------------------------------------ Footer ---------------------------------- */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 7vh;
    margin-top: 0.3vh;
}

